@import '../../../variables';


.page-container {
  height: 100%;
  display: flex;
  flex-flow: column;

  .game-score {
    display: flex;
    justify-content: center;
    background-color: #fff;

    .score-red {
      color: $red-team-color;
      margin-right: 5rem;
    }

    .score-black {
      color: $black-team-color;
      margin-left: 5rem;
    }
  }
}
